{erl_opts, [debug_info]}.
%% To enable authorities tests, uncomment the following line:
%% {erl_opts, [debug_info, {d, 'ENABLE_AUTHORITIES_TESTS'}]}.
{deps, [
    {luerl, "1.2.0"}
]}.

{profiles, [
    {test, [
        {deps, []}
    ]},
    {authorities_test, [
        {erl_opts, [debug_info, {d, 'ENABLE_AUTHORITIES_TESTS'}]},
        {deps, []}
    ]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [aos_test_suite]}
]}.
