{erl_opts, [debug_info]}.

{deps, [
    {luerl, "1.2.0"}
]}.

%% Test configuration with organized test directories
{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "test_results"}]}}
]}.

%% Default test paths - rebar3 will find all *_test.erl modules
{eunit_compile_opts, [debug_info]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {deps, []}
    ]},
    {authorities_test, [
        {erl_opts, [debug_info, {d, 'ENABLE_AUTHORITIES_TESTS'}]},
        {deps, []}
    ]},
    {unit_test, [
        {erl_opts, [debug_info]},
        {eunit_opts, [
            verbose,
            {module, [aos_colors_test, aos_stringify_test, aos_math_eunit_test, aos_utils_test]},
            {report, {eunit_surefire, [{dir, "test_results/unit"}]}}
        ]}
    ]},
    {integration_test, [
        {erl_opts, [debug_info]},
        {eunit_opts, [
            verbose,
            {module, [aos_test, aos_multi_step_test, aos_utils_integration_test, simple_utils_integration_test]},
            {report, {eunit_surefire, [{dir, "test_results/integration"}]}}
        ]}
    ]},
    {security_test, [
        {erl_opts, [debug_info, {d, 'ENABLE_AUTHORITIES_TESTS'}]},
        {eunit_opts, [
            verbose,
            {module, [aos_authorities_test, aos_owner_test, aos_from_process_test, aos_process_init_test, aos_eval_security_test, simple_security_test]},
            {report, {eunit_surefire, [{dir, "test_results/security"}]}}
        ]}
    ]},
    {legacy_test, [
        {erl_opts, [debug_info]},
        {eunit_opts, [
            verbose,
            {module, [direct_luerl_test, luerl_table_test, minimal_eval_test, simple_table_test, test_action, test_hmac_rejection, test_luerl_encode, test_simple_eval, test_with_conversion]},
            {report, {eunit_surefire, [{dir, "test_results/legacy"}]}}
        ]}
    ]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [aos_test_suite]}
]}.

%% Additional test paths for proper compilation
{extra_src_dirs, [
    "test/helpers",
    "test/debug",
    "test/unit",
    "test/integration", 
    "test/security",
    "test/legacy"
]}.
